.title2 {
    text-align: center;
  font-weight: bold;
    font-size: auto;
  }
  .container-table{
    display: table;
    margin-left: 200px;
    margin-top: 50px;
  
  }
  .colum{
    display: table-cell;
    padding-left: 30px;
    font-weight:bold ;
    margin-bottom: 30px;
    
  }
  .row{
    display: table-row;
    margin-left: 30px;
  }
    .username {
    font-weight: normal;
    font-size: 13px;
    margin-top: 10px;
  
  }
  .recent{
    margin-left: 50px;
  }
   .history{
    font-weight: normal;
    margin-top: 10px;
    font-size: 13px;
  }
   .check{
    font-size: 13px;
    font-weight: normal;
    color: grey;
  }
  .title4{
    margin-top: 30px;
    margin-left: 30px;
    font-weight: bold;
  }
    .edit-address{
    font-size: 13px;
    font-weight: normal;
    color: grey;
    
  }
   .edit-address:hover{
    color: black;
    text-decoration-line: underline;
  }
  .log-out {
    width: 100px;
    height: 30px;
    margin-left: 230px;
    margin-top: 30px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
  
  }
  
  .log-out:hover{
    text-decoration-line: underline;
  
  }

  