.change-table {
  margin-left: 315px;
}
.styled-change-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-change-table thead tr {
  background-color: #293949;
  color: #ffffff;
  text-align: left;
}
.styled-change-table th,
.styled-change-table td {
  padding: 12px 15px;
}
.styled-change-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-change-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-change-table tbody tr:last-of-type {
  border-bottom: 2px solid #293949;
}
.styled-change-table tbody tr.active-row {
  font-weight: bold;
  color: #293949;
}
.btn-change-product {
  cursor: pointer;
  width: 80px;
  height: 30px;
  border: 2px solid #293949;
  border-radius: 15px;
}
