body {
  color: #5d5f63;
  background: #dedbdb;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
h2 {
  text-align: center;
  color: white;
}
.sidebar-toggle {
  margin-left: -240px;
}
.sidebar {
  width: 300px;
  height: 100vh;
  background: #293949;
  position: fixed;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
  margin: -2px 0 0;
  padding: 0;
}
.sidebar #leftside-navigation ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar #leftside-navigation ul li.active > a {
  color: #1abc9c;
}
.sidebar #leftside-navigation ul li.active ul {
  display: block;
}
.sidebar #leftside-navigation ul li a {
  color: #aeb2b7;
  text-decoration: none;
  display: block;
  padding: 24px 7px 25px 25px;
  font-size: 16px;
  outline: 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  display: flex;
}
.sidebar #leftside-navigation ul li a:hover {
  color: #1abc9c;
}
.sidebar #leftside-navigation ul li a span {
  display: inline-block;
  /* padding-right: 70px; */
  width: 100%;
}
.sidebar #leftside-navigation ul li a i {
  width: 20px;
  padding-right: 13px;
}
.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
  padding-top: 3px;
}
.sidebar #leftside-navigation ul ul {
  display: none;
}
.sidebar #leftside-navigation ul ul li {
  background: #23313f;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
}
.sidebar #leftside-navigation ul ul li a {
  font-size: 14.5px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 52px;
  color: #aeb2b7;
}
.title_navbar {
  padding-right: 100px;
  width: 150px;
}

/* Header */
.header {
  /* width: 1236px; */
  height: 60px;
  margin-left: 300px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-box {
  margin-left: 15px;
  position: relative;
  width: 800px;
}
.btn-search {
  position: absolute;
  top: 15px;
  left: 8px;
}

.value__search {
  width: 500px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  /* background-image: url("searchicon.png"); */
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;

  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.value__search:focus {
  width: 100%;
  border: 2px solid #293949;
}
